@model Serviser.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<meta name="google-signin-client_id" content="989656006569-obtc83g2qlrc2d3mhutp6rnsa53cql75.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Default form register -->
<div class="container" style="width: 500px">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "text-center border border-light p-5", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <p class="h4 mb-4">Sign up</p>

        <div class="form-row mb-4">
            <div class="col">
                <!-- First name -->
                @Html.TextBoxFor(m => m.FirstName, new { @type = "text", id = "defaultRegisterFormFirstName", @class = "form-control", placeholder = "First name" })

            </div>
            <div class="col">
                <!-- Last name -->
                @Html.TextBoxFor(m => m.LastName, new { @type = "text", id = "defaultRegisterFormLastName", @class = "form-control", placeholder = "Last name" })

            </div>
        </div>

        <!-- E-mail -->

        @Html.TextBoxFor(m => m.Email, new { @type = "email", id = "defaultRegisterFormEmail", @class = "form-control mb-4", placeholder = "Email" })

        <!-- Password -->
        @Html.TextBoxFor(m => m.Password, new { @type = "password", id = "defaultRegisterFormPassword", @class = "form-control", placeholder = "Password", aria_describedby = "defaultRegisterFormPasswordHelpBlock" })
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            At least 8 characters and 1 digit
        </small>
        @Html.TextBoxFor(m => m.ConfirmPassword, new { @type = "password", id = "defaultRegisterFormPassword", @class = "form-control mb-4", placeholder = "Confirm Password", aria_describedby = "defaultRegisterFormPasswordHelpBlock" })

        @Html.TextBoxFor(m => m.PhoneNumber, new { @type = "text", id = "defaultRegisterFormPassword", @class = "form-control", placeholder = "Phone Number", aria_describedby = "defaultRegisterFormPasswordHelpBlock" })



        <!-- Sign up button -->
        <input class="btn btn-info my-4 btn-block" type="submit">

        <!-- Social register -->
        <p>or sign up with:</p>
        <a href="#" class="fa fa-facebook a1" style="text-decoration-line: none; text-decoration-color: inherit;"></a>
        <a href="#" class="fa fa-twitter a1" style="text-decoration-line: none; text-decoration-color: inherit;"></a>
        <a href="#" class="fa fa-google a1" style="text-decoration-line: none; text-decoration-color: inherit;color: red"></a>
        <div id="my-signin2"></div>





        <hr>

        <!-- Terms of service -->
        <p>
            By clicking
            <em>Sign up</em> you agree to our
            <a href="" target="_blank">terms of service</a>
        </p>
    }
</div>