@model Serviser.DAL.Entity.VehicleProblem
@using Serviser.Web.Areas.Admin.Models;

@{
    ViewBag.Title = "Delete";
}

@Html.Partial("_BreadCrumbPartial", new BreadCrumb()
{
    Trail = new List<BreadCrumb.Item> {
new BreadCrumb.Item { Name="Dashboard", Url = Url.Action("Index","Dashboard") },
new BreadCrumb.Item { Name="Vehicle Problems", Url = Url.Action("Index","VehicleProblems") },
new BreadCrumb.Item { Name= "Delete", IsActive=true }
}
})

<h6>Are you sure you want to delete this?</h6>
<div class="card p-2">
    <dl class="row">
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.VehicleType.Name)
        </dt>

        <dd class="col-8">
            @Html.DisplayFor(model => model.VehicleType.Name)
        </dd>

        <dt class="col-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="col-8">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd class="col-8">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-4">
            @Html.DisplayNameFor(model => model.EstimatedPrice)
        </dt>

        <dd class="col-8">
            @Html.DisplayFor(model => model.EstimatedPrice)
        </dd>

    </dl>


</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color mt-2">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div>
}