@model Serviser.Web.Models.RegisterMechanicViewModel
@using Serviser.Web.Areas.Admin.Models;
@{
    ViewBag.Title = "Register";
}

@Html.Partial("_BreadCrumbPartial", new BreadCrumb()
{
    Trail = new List<BreadCrumb.Item> {
new BreadCrumb.Item { Name="Dashboard", Url = Url.Action("Index","Dashboard") },
new BreadCrumb.Item { Name="Mehanics", Url = Url.Action("Index","Mechanic") },
new BreadCrumb.Item { Name="Register", IsActive=true }
}
})
<meta name="google-signin-client_id" content="989656006569-obtc83g2qlrc2d3mhutp6rnsa53cql75.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Default form register -->
<div class="container" style="width: 500px">
    @using (Html.BeginForm("RegisterMechanic", "Account", new { area = "" }, FormMethod.Post, new { @class = "text-center border border-light p-2", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-row mb-4">
            <div class="col">
                <!-- First name -->
                @Html.TextBoxFor(m => m.FirstName, new { @type = "text", id = "defaultRegisterFormFirstName", @class = "form-control", placeholder = "First name" })

            </div>
            <div class="col">
                <!-- Last name -->
                @Html.TextBoxFor(m => m.LastName, new { @type = "text", id = "defaultRegisterFormLastName", @class = "form-control", placeholder = "Last name" })

            </div>
        </div>

        <!-- E-mail -->

        @Html.TextBoxFor(m => m.Email, new { @type = "email", id = "defaultRegisterFormEmail", @class = "form-control mb-4", placeholder = "Email" })

        <!-- Password -->
        @Html.TextBoxFor(m => m.Password, new { @type = "password", id = "defaultRegisterFormPassword", @class = "form-control", placeholder = "Password", aria_describedby = "defaultRegisterFormPasswordHelpBlock" })
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            At least 8 characters and 1 digit
        </small>
        @Html.TextBoxFor(m => m.ConfirmPassword, new { @type = "password", id = "defaultRegisterFormPassword", @class = "form-control mb-4", placeholder = "Confirm Password", aria_describedby = "defaultRegisterFormPasswordHelpBlock" })

        @Html.TextBoxFor(m => m.PhoneNumber, new { @type = "text", id = "defaultRegisterFormPassword", @class = "form-control mb-4", placeholder = "Phone Number", aria_describedby = "defaultRegisterFormPasswordHelpBlock" })


        @Html.TextBoxFor(m => m.CNIC, new { @type = "text", id = "defaultRegisterFormCNIC", @class = "form-control", placeholder = "CNIC", aria_describedby = "defaultRegisterFormCNICHelpBlock" })

        @Html.HiddenFor(m => m.RoleName)

        <!-- Sign up button -->
        <input class="btn btn-info my-4 btn-block" type="submit">
    }
</div>