<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link runat="server" rel="shortcut icon" href="~/logo.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/logo.ico" type="image/ico" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/css/calander.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">

     <link rel="stylesheet" href="~/Content/elegant_font/style.css" />
        <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
        <script type="text/javascript" src="~/Scripts/jquery.js"></script>
        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/Scripts/owl.carousel.min.js"></script>
        
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        

    @*@Styles.Render("/Content/css")*@
    @*@Styles.Render("~/bundles/bootstrap")*@
    <style>
        
    </style>

   <style>
       .row
       {
           margin:0px;
       }
   </style>

</head>

<body style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    <a id="top"></a>
    @{Html.RenderPartial("_NavbarPartial");}

    @RenderBody();




    @{Html.RenderPartial("_FooterPartial");}
    @RenderSection("scripts", false);

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
</body>
</html>