
@{
                /**/

                ViewBag.Title = "ViewAllMechanics";
                Html.RenderPartial("_Adminheader");
                Layout = null;
}



<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.php">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">View All Mechanics</li>
        </ol>


        <table class="table table-bordered table-striped">

            <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone No.</th>
            <th>CNIC</th>
            <th>Shop Address</th>
            <th>Start Date</th>
            <th>Service Type</th>
            <th>Status</th>
            <th>Rating</th>
            <th>No. of Fixes</th>
            <th>Actions</th>
            </thead>

            <tbody>
                <tr>
                    <td>Ali</td>
                    <td>Hamza</td>
                    <td>0321456987</td>
                    <td>325896321466987</td>
                    <td>Ichra</td>
                    <td>22-5-19</td>
                    <td>Bike</td>
                    <th>Verified</th>
                    <td>4.8</td>
                    <td>3</td>
                    <td>
                        <button class="btn btn-info"> Delete</button>
                        <button class="btn btn-info" onclick="location.href='@Url.Action("AddNewMechanic","Admin")'">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td>Ali</td>
                    <td>Hamza</td>
                    <td>0321456987</td>
                    <td>325896321466987</td>
                    <td>Ichra</td>
                    <td>22-5-19</td>
                    <td>Bike</td>
                    <th>Verified</th>
                    <td>4.8</td>
                    <td>3</td>
                    <td>
                        <button class="btn btn-info"> Delete</button>
                        <button class="btn btn-info" onclick="location.href='@Url.Action("AddNewMechanic","Admin")'">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td>Ali</td>
                    <td>Hamza</td>
                    <td>0321456987</td>
                    <td>325896321466987</td>
                    <td>Ichra</td>
                    <td>22-5-19</td>
                    <td>Bike</td>
                    <th>Verified</th>
                    <td>4.8</td>
                    <td>3</td>
                    <td>
                        <button class="btn btn-info"> Delete</button>
                        <button class="btn btn-info" onclick="location.href='@Url.Action("AddNewMechanic","Admin")'">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td>Ali</td>
                    <td>Hamza</td>
                    <td>0321456987</td>
                    <td>325896321466987</td>
                    <td>Ichra</td>
                    <td>22-5-19</td>
                    <td>Bike</td>
                    <th>Verified</th>
                    <td>4.8</td>
                    <td>3</td>
                    <td>
                        <button class="btn btn-info"> Delete</button>
                        <button class="btn btn-info" onclick="location.href='@Url.Action("AddNewMechanic","Admin")'">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td>Ali</td>
                    <td>Hamza</td>
                    <td>0321456987</td>
                    <td>325896321466987</td>
                    <td>Ichra</td>
                    <td>22-5-19</td>
                    <td>Bike</td>
                    <th>Verified</th>
                    <td>4.8</td>
                    <td>3</td>
                    <td>
                        <button class="btn btn-info"> Delete</button>
                        <button class="btn btn-info" onclick="location.href='@Url.Action("AddNewMechanic","Admin")'">Edit</button>
                    </td>
                </tr>
            </tbody>

        </table>


    </div>


</div>

@{
    Html.RenderPartial("_Adminfooter");
}






