<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/register.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    @* Includes Stylesheets defined in the stylesheet section of views. *@
    @RenderSection("stylesheets", false)

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light serviser-navbar fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="~/Assets/Images/mechanic-with-wrench-logo-1.svg" alt="Serviser Logo" class="serviser-navbar-logo" width="30" height="30" />
            &nbsp; SERVISER
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav mt-2 ml-lg-auto mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>

            </ul>
        </div>
    </nav>

    
    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<footer class="ct-footer" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">


            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-s-12">

                <h3>Join Servisr to receive updates & News</h3>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-s-12">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-s-12 header-left-bottom">

                        <div class="icon2 header-left-bottom ">
                            <span class="fa fa-user"></span>
                            <input type="email" placeholder="Enter Email" required="" />
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-7 col-sm-12 col-s-12 header-left-bottom">

                        <button class="btn" style="background-color:#ecf0f1;color:#0e0e0e">Join</button>

                    </div>
                </div>
            </div>


        </div>
        <br />
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-10">
                <hr />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-s-12 ">
                <p style="color:#fff;font-size:30px;color:cyan">
                    Services
                </p>
                <ul class="footer-line">
                    <li>
                        <a href="" style="color:#fff;">Design</a>
                    </li>
                    <li>
                        <a href="" style="color:#fff;">Marketing</a>
                    </li>
                    <li>
                        <a href="" style="color:#fff;">Sales</a>
                    </li>
                    <li>
                        <a href="" style="color:#fff;">Programming</a>
                    </li>
                    <li>
                        <a href="" style="color:#fff;">Support</a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-s-12">
                <p style="color:#fff;font-size:30px;color:cyan">
                    Services
                </p>
                <ul class="footer-line">
                    <li>
                        <a href="" style="color:#fff;">Design</a>
                    </li>
                    <li>
                        <a href="" style="color:#fff;">Marketing</a>
                    </li>
                    <li>
                        <a href="" style="color:#fff;">Sales</a>
                    </li>
                    <li>
                        <a href="" style="color:#fff;">Programming</a>
                    </li>
                    <li>
                        <a href="" style="color:#fff;">Support</a>
                    </li>
                </ul>

            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-s-12">
                <p style="color:#fff;font-size:30px;color:cyan">
                    Services
                </p>
                <ul class="footer-line">
                    <li>
                        <a href="" style="color:#fff;">Design</a>
                    </li>
                    <li>
                        <a href="" style="color:#fff;">Marketing</a>
                    </li>
                    <li>
                        <a href="" style="color:#fff;">Sales</a>
                    </li>
                    <li>
                        <a href="" style="color:#fff;">Programming</a>
                    </li>
                    <li>
                        <a href="" style="color:#fff;">Support</a>
                    </li>
                </ul>

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-10">
                <hr />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-3">
                <address>
                    <span style="font-size:20px;color:cyan">Serviser<br></span>xyz Easy Street<br>
                    Lahore, Punjab, 54000<br>
                    <span>Phone: <a href="tel:5555555555">(555) 555-8899</a></span>
                </address>

            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-6">
                        <a href="" target="_blank"><img alt="app store" src="https://www.solodev.com/assets/footer/appstore.png"></a>
                    </div>
                    <div class="col-6">
                        <a href="" target="_blank"><img alt="google play store" src="https://www.solodev.com/assets/footer/androidstore.png"></a>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-2">
                        <a href="" target="_blank"><img alt="facebook" src="https://www.solodev.com/assets/footer/facebook-white.png"></a>
                    </div>
                    <div class="col-2">
                        <a href="" target="_blank"><img alt="twitter" src="https://www.solodev.com/assets/footer/twitter-white.png"></a>
                    </div>
                    <div class="col-2">
                        <a href="" target="_blank"><img alt="youtube" src="https://www.solodev.com/assets/footer/youtube-white.png"></a>
                    </div>
                    <div class="col-2">
                        <a href="" target="_blank"><img alt="instagram" src="https://www.solodev.com/assets/footer/instagram-white.png"></a>
                    </div>
                    <div class="col-2">
                        <a href="" target="_blank"><img alt="pinterest" src="https://www.solodev.com/assets/footer/pinterest-white.png"></a>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <div class="ct-footer-post">
        <div class="container clearfix">
            <div class="inner-left">
                <ul>
                    <li>
                        <a href="">FAQ</a>
                    </li>
                    <li>
                        <a href="">News</a>
                    </li>
                    <li>
                        <a href="">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="inner-right">
                <p>
                    Copyright © 2016 WebCorpCo.&nbsp;<a href="">Privacy Policy</a>
                </p>
             </div>
        </div>
    </div>

</footer>
    <!--<footer class="ct-footer  mt-0">
        <div class="container-fluid clearfix">
            <form name="contentForm" enctype="multipart/form-data" method="post" action="">
                <div class="ct-footer-pre text-center-lg">
                    <div class="inner">
                        <span>Join WebCorpCo to receive updates &amp; news</span>
                    </div>
                    <div class="inner">
                        <div class="form-group">
                            <input name="formfields[nl_email]" id="nl_email" class="validate[required]" placeholder="Enter your email address" type="text" value="">
                            <label for="nl_email" class="sr-only">Email Address</label>
                            <button type="submit" class="btn btn-motive">Join</button>
                        </div>
                    </div>
                </div>
            </form>
            <ul class="ct-footer-list text-center-sm">
                <li>
                    <h2 class="ct-footer-list-header">
                        Learn More
                    </h2>
                    <ul>
                        <li>
                            <a href="">Company</a>
                        </li>
                        <li>
                            <a href="">Clients</a>
                        </li>
                        <li>
                            <a href="">News</a>
                        </li>
                        <li>
                            <a href="">Careers</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="ct-footer-list-header">
                        Services
                    </h2>
                    <ul>
                        <li>
                            <a href="">Design</a>
                        </li>
                        <li>
                            <a href="">Marketing</a>
                        </li>
                        <li>
                            <a href="">Sales</a>
                        </li>
                        <li>
                            <a href="">Programming</a>
                        </li>
                        <li>
                            <a href="">Support</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="ct-footer-list-header">
                        The Industry
                    </h2>
                    <ul>
                        <li>
                            <a href="">Thought Leadership</a>
                        </li>
                        <li>
                            <a href="">Webinars</a>
                        </li>
                        <li>
                            <a href="">Events</a>
                        </li>
                        <li>
                            <a href="">Sponsorships</a>
                        </li>
                        <li>
                            <a href="">Advisors</a>
                        </li>
                        <li>
                            <a href="">Training Program</a>
                        </li>
                        <li>
                            <a href="">Activities &amp; Campaigns</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="ct-footer-list-header">
                        Public Relations
                    </h2>
                    <ul>
                        <li>
                            <a href="">WebCorpCo Blog</a>
                        </li>
                        <li>
                            <a href="">Hackathons</a>
                        </li>
                        <li>
                            <a href="">Videos</a>
                        </li>
                        <li>
                            <a href="">News Releases</a>
                        </li>
                        <li>
                            <a href="">Newsletters</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="ct-footer-list-header">
                        About
                    </h2>
                    <ul>
                        <li>
                            <a href="">FAQ</a>
                        </li>
                        <li>
                            <a href="">Our Board</a>
                        </li>
                        <li>
                            <a href="">Our Staff</a>
                        </li>
                        <li>
                            <a href="">Contact Us</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="ct-footer-meta text-center-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-2">
                        <img src="~/Assets/Images/mechanic-with-wrench-logo-1.svg" alt="Serviser Logo" class="serviser-navbar-logo" width="25" height="25" />
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <address>
                            <span>WebCorpCo<br></span>123 Easy Street<br>
                            Orlando, Florida, 32801<br>
                            <span>Phone: <a href="tel:5555555555">(555) 555-8899</a></span>
                        </address>
                    </div>
                    <div class="col-sm-6 col-md-2 ct-u-paddingTop10">
                        <a href="" target="_blank"><img alt="app store" src="https://www.solodev.com/assets/footer/appstore.png"></a>
                    </div>
                    <div class="col-sm-6 col-md-2 ct-u-paddingTop10">
                        <a href="" target="_blank"><img alt="google play store" src="https://www.solodev.com/assets/footer/androidstore.png"></a>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <ul class="ct-socials list-unstyled list-inline">
                            <li>
                                <a href="" target="_blank"><img alt="facebook" src="https://www.solodev.com/assets/footer/facebook-white.png"></a>
                            </li>
                            <li>
                                <a href="" target="_blank"><img alt="twitter" src="https://www.solodev.com/assets/footer/twitter-white.png"></a>
                            </li>
                            <li>
                                <a href="" target="_blank"><img alt="youtube" src="https://www.solodev.com/assets/footer/youtube-white.png"></a>
                            </li>
                            <li>
                                <a href="" target="_blank"><img alt="instagram" src="https://www.solodev.com/assets/footer/instagram-white.png"></a>
                            </li>
                            <li>
                                <a href="" target="_blank"><img alt="pinterest" src="https://www.solodev.com/assets/footer/pinterest-white.png"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="ct-footer-post">
            <div class="container clearfix">
                <div class="inner-left">
                    <ul>
                        <li>
                            <a href="">FAQ</a>
                        </li>
                        <li>
                            <a href="">News</a>
                        </li>
                        <li>
                            <a href="">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="inner-right">
                    <p>
                        Copyright © 2016 WebCorpCo.&nbsp;<a href="">Privacy Policy</a>
                    </p>
                    <p>
                        <a class="ct-u-motive-color" href="" target="_blank">Web Design</a> by DigitalUs on <a href="" target="_blank">Solodev CMS</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>-->
</body>
</html>
