    <!-- Sidebar -->
<ul class="sidebar navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Home","Admin")">
            <i class="fa fa-tachometer"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Profile","Admin")">
            <i class="fa fa-fw fa-user"></i>
            <span>Profile</span>
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-anchor"></i>
            <span>Problems</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="@Url.Action("Index","VehicleProblems")">View All</a>
            <a class="dropdown-item" href="@Url.Action("Create","VehicleProblems")">Add Problem</a>

        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-car"></i>
            <span>Vehicle Types</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">

            <a class="dropdown-item" href="@Url.Action("Index","VehicleTypes")">View All</a>
            <a class="dropdown-item" href="@Url.Action("Create","VehicleTypes")">Add Vehicle</a>

        </div>
    </li>

</ul>

<!-- Sticky Footer -->
<footer class="sticky-footer">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright © Serviser 2019</span>
        </div>
    </div>
</footer>